@import './base.css';

html {
  background: transparent;
}

body {
  background: transparent;
  overflow: hidden;
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

#app {
  background: transparent;
  height: 100vh;
}
